* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

input {
    border: 1px solid #ccc;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #dee2e6;
}

.th-2{
    width: 50%;
}

.th-3{
    width: 33.33%;
}

.th-4{
    width: 25%;
}

.th-5{
    width: 20%;
}

.th-6{
    width: 16.66%;
}


.th-7{
    width: 14%;
}

.container {
    margin: 100px auto 100px;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mt-10
{
    margin-top: 10px;
}

.mt-20
{
    margin-top: 20px;
}

.mt-30
{
    margin-top: 30px;
}

.mr-20
{
    margin-right: 20px;
}

.ml-20
{
    margin-left: 20px;
}

.hidden {
    display: none;
}

.flex {
    display: flex;
}

.titleWeb {
    color: rgb(236, 49, 42);
}

.btn {
    font-size: 18px;
    border: 0px;
    border-radius: 5px;
    padding: 8px 15px;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.editBtn {
    background-color: rgb(65, 251, 65);
}

#confirm-modal-container,
#result-modal-container {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#modal {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
}

.inputModal {
    height: 30px;
    padding-left: 10px;
    font-size: 18px;
    width: 100%;
}

.btnModal {
    display: flex;
    justify-content: space-between;
    margin: 20px 30px 0;
}

.infoResult {
    display: block;
    text-align: right;
}

#quiz-container {
    margin-bottom: 20px;
}

#choices label {
    display: block;
    margin-bottom: 10px;
}

#submit-btn {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#result-btn {
    padding: 10px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

#result-btn-container {
    text-align: center;
    margin-top: 10px;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}

#monthi {
    color: red;
    text-align: center;
}